In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas_datareader import data #주식데이터 가져오는 모듈
matplotlib.rcParams["font.family"]="Malgun Gothic"
matplotlib.rcParams["axes.unicode_minus"]=False
from datetime import datetime

In [11]:
sdf=data.get_data_yahoo('005930.KS','2017-01-01')
sdf

               High      Low     Open    Close      Volume     Adj Close
Date
2017-01-02  36240.0  35880.0  35980.0  36100.0   4650600.0  30976.957031
2017-01-03  36620.0  36020.0  36280.0  36480.0   7357650.0  31303.031250
2017-01-04  36520.0  36100.0  36500.0  36160.0   7971750.0  31028.445312
2017-01-05  36060.0  35540.0  36060.0  35560.0  10967450.0  30513.599609
2017-01-06  36440.0  36040.0  36180.0  36200.0   8880950.0  31062.763672
...             ...      ...      ...      ...         ...           ...
2022-10-21  56300.0  55100.0  55100.0  55900.0  11456060.0  55900.000000
2022-10-24  57500.0  56700.0  57000.0  57500.0  16944503.0  57500.000000
2022-10-25  58600.0  57000.0  57000.0  57700.0  17405678.0  57700.000000
2022-10-26  59600.0  57700.0  58000.0  59400.0  20824967.0  59400.000000
2022-10-27  60100.0  58900.0  59700.0  59400.0  19984233.0  59400.000000

[1426 rows x 6 columns]

In [12]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1426 entries, 2017-01-02 to 2022-10-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1426 non-null   float64
 1   Low        1426 non-null   float64
 2   Open       1426 non-null   float64
 3   Close      1426 non-null   float64
 4   Volume     1426 non-null   float64
 5   Adj Close  1426 non-null   float64
dtypes: float64(6)
memory usage: 78.0 KB

In [13]:
#시계열데이터 : 인덱스가 datetime형인 경우

In [14]:
sdf['2019']

C:\Users\whs38\AppData\Local\Temp/ipykernel_39420/89317866.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  sdf['2019']

               High      Low     Open    Close      Volume     Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0  34936.320312
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0  33899.496094
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0  33764.261719
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0  34936.320312
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0  34350.289062
...             ...      ...      ...      ...         ...           ...
2019-12-23  56400.0  55100.0  56100.0  55500.0   9839252.0  51193.527344
2019-12-24  55700.0  54800.0  55600.0  55000.0  11868463.0  50732.324219
2019-12-26  55400.0  54400.0  54700.0  55400.0   9645034.0  51101.292969
2019-12-27  56900.0  55500.0  55700.0  56500.0  12313056.0  52451.097656
2019-12-30  56600.0  55700.0  56200.0  55800.0   8356767.0  51801.261719

[246 rows x 6 columns]

In [15]:
sdf['2019-02']

C:\Users\whs38\AppData\Local\Temp/ipykernel_39420/349482005.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  sdf['2019-02']

               High      Low     Open    Close      Volume     Adj Close
Date
2019-02-01  46950.0  46250.0  46650.0  46350.0  13832454.0  41788.347656
2019-02-07  47100.0  46200.0  46800.0  46200.0  15872001.0  41653.109375
2019-02-08  45700.0  44650.0  45700.0  44800.0  12689196.0  40390.886719
2019-02-11  45000.0  44250.0  44500.0  45000.0  11125044.0  40571.207031
2019-02-12  46250.0  44650.0  44650.0  46050.0  13184367.0  41517.867188
2019-02-13  46700.0  46000.0  46400.0  46200.0  11299738.0  41653.109375
2019-02-14  47500.0  46150.0  46600.0  47500.0  17259341.0  42825.167969
2019-02-15  46850.0  45650.0  46750.0  46050.0  10554643.0  41517.867188
2019-02-18  46850.0  45850.0  46500.0  46200.0   8183728.0  41653.109375
2019-02-19  46150.0  45450.0  45850.0  45950.0   6741395.0  41427.707031
2019-02-20  47100.0  46500.0  46750.0  46900.0  11506720.0  42284.210938
2019-02-21  47200.0  46200.0  46500.0  46950.0   8694009.0  42329.289062
2019-02-22  47150.0  46450.0  46500.0  47150.0   6895772.0  42509.605469
2019-02-25  47550.0  47050.0  47400.0  47350.0   7484716.0  42689.925781
2019-02-26  47450.0  46500.0  47350.0  46750.0   7985547.0  42148.972656
2019-02-27  47250.0  46750.0  47000.0  46750.0   8045211.0  42148.972656
2019-02-28  46500.0  45100.0  46400.0  45100.0  23569321.0  40661.367188

In [16]:
sdf['2019-01':'2019-06']

               High      Low     Open    Close      Volume     Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0  34936.320312
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0  33899.496094
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0  33764.261719
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0  34936.320312
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0  34350.289062
...             ...      ...      ...      ...         ...           ...
2019-06-24  45800.0  45200.0  45200.0  45500.0   6085066.0  41344.726562
2019-06-25  45800.0  45200.0  45200.0  45600.0   7076774.0  41435.601562
2019-06-26  46000.0  45600.0  45800.0  45700.0   9226097.0  41526.476562
2019-06-27  46600.0  45750.0  46000.0  46500.0  12603534.0  42583.257812
2019-06-28  47000.0  46700.0  47000.0  47000.0  12949231.0  43041.148438

[121 rows x 6 columns]

In [17]:
sdf[sdf.index>'2019-01-01']

               High      Low     Open    Close      Volume     Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0  34936.320312
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0  33899.496094
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0  33764.261719
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0  34936.320312
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0  34350.289062
...             ...      ...      ...      ...         ...           ...
2022-10-21  56300.0  55100.0  55100.0  55900.0  11456060.0  55900.000000
2022-10-24  57500.0  56700.0  57000.0  57500.0  16944503.0  57500.000000
2022-10-25  58600.0  57000.0  57000.0  57700.0  17405678.0  57700.000000
2022-10-26  59600.0  57700.0  58000.0  59400.0  20824967.0  59400.000000
2022-10-27  60100.0  58900.0  59700.0  59400.0  19984233.0  59400.000000

[941 rows x 6 columns]

In [18]:
sdf['year']=sdf.index.year
sdf

               High      Low     Open    Close      Volume     Adj Close  year
Date
2017-01-02  36240.0  35880.0  35980.0  36100.0   4650600.0  30976.957031  2017
2017-01-03  36620.0  36020.0  36280.0  36480.0   7357650.0  31303.031250  2017
2017-01-04  36520.0  36100.0  36500.0  36160.0   7971750.0  31028.445312  2017
2017-01-05  36060.0  35540.0  36060.0  35560.0  10967450.0  30513.599609  2017
2017-01-06  36440.0  36040.0  36180.0  36200.0   8880950.0  31062.763672  2017
...             ...      ...      ...      ...         ...           ...   ...
2022-10-21  56300.0  55100.0  55100.0  55900.0  11456060.0  55900.000000  2022
2022-10-24  57500.0  56700.0  57000.0  57500.0  16944503.0  57500.000000  2022
2022-10-25  58600.0  57000.0  57000.0  57700.0  17405678.0  57700.000000  2022
2022-10-26  59600.0  57700.0  58000.0  59400.0  20824967.0  59400.000000  2022
2022-10-27  60100.0  58900.0  59700.0  59400.0  19984233.0  59400.000000  2022

[1426 rows x 7 columns]

In [19]:
sdf['month']=sdf.index.month
sdf

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-01-02,36240.0,35880.0,35980.0,36100.0,4650600.0,30976.957031,2017,1
2017-01-03,36620.0,36020.0,36280.0,36480.0,7357650.0,31303.031250,2017,1
2017-01-04,36520.0,36100.0,36500.0,36160.0,7971750.0,31028.445312,2017,1
2017-01-05,36060.0,35540.0,36060.0,35560.0,10967450.0,30513.599609,2017,1
2017-01-06,36440.0,36040.0,36180.0,36200.0,8880950.0,31062.763672,2017,1
...,...,...,...,...,...,...,...,...
2022-10-21,56300.0,55100.0,55100.0,55900.0,11456060.0,55900.000000,2022,10
2022-10-24,57500.0,56700.0,57000.0,57500.0,16944503.0,57500.000000,2022,10
2022-10-25,58600.0,57000.0,57000.0,57700.0,17405678.0,57700.000000,2022,10
2022-10-26,59600.0,57700.0,58000.0,59400.0,20824967.0,59400.000000,2022,10
2022-10-27,60100.0,58900.0,59700.0,59400.0,19984233.0,59400.000000,2022,10

In [20]:
sdf.groupby('year').mean()

,High,Low,Open,Close,Volume,Adj Close,month
year,,,,,,,
2017,46790.207469,45965.311203,46363.485477,46377.178423,1.144929e+07,39999.624335,6.423237
2018,47351.270492,46341.762295,46867.786885,46830.122951,1.255331e+07,41362.077244,6.483607
2019,46989.024390,46122.154472,46563.414634,46583.333333,1.089653e+07,42527.481342,6.520325
2020,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,53676.526084,6.516129
2021,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,77382.664220,6.556452
2022,65274.874372,64293.467337,64797.989950,64734.170854,1.418924e+07,64380.480979,5.502513

In [21]:
sdf.groupby(sdf.index.year).mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017,46790.207469,45965.311203,46363.485477,46377.178423,1.144929e+07,39999.624335,2017.0,6.423237
2018,47351.270492,46341.762295,46867.786885,46830.122951,1.255331e+07,41362.077244,2018.0,6.483607
2019,46989.024390,46122.154472,46563.414634,46583.333333,1.089653e+07,42527.481342,2019.0,6.520325
2020,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,53676.526084,2020.0,6.516129
2021,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,77382.664220,2021.0,6.556452
2022,65274.874372,64293.467337,64797.989950,64734.170854,1.418924e+07,64380.480979,2022.0,5.502513

In [22]:
sdf.groupby([sdf.index.year,sdf.index.month]).mean()

                   High           Low          Open         Close  \
Date Date
2017 1     37826.000000  37079.000000  37340.000000  37486.000000
     2     38912.000000  38276.000000  38578.000000  38571.000000
     3     41447.272727  40740.909091  40890.000000  41166.363636
     4     42261.000000  41549.000000  41910.000000  41959.000000
     5     46040.000000  45188.421053  45590.526316  45550.526316
...                 ...           ...           ...           ...
2022 6     61765.000000  60795.000000  61355.000000  61125.000000
     7     60195.238095  58990.476190  59495.238095  59547.619048
     8     60686.363636  59781.818182  60186.363636  60272.727273
     9     56220.000000  55235.000000  55720.000000  55595.000000
     10    57129.411765  55841.176471  56335.294118  56511.764706

                 Volume     Adj Close    year  month
Date Date
2017 1     1.102530e+07  32166.268945  2017.0    1.0
     2     1.192612e+07  33097.295117  2017.0    2.0
     3     1.193883e+07  35335.251243  2017.0    3.0
     4     1.191310e+07  36125.549414  2017.0    4.0
     5     1.358061e+07  39217.753289  2017.0    5.0
...                 ...           ...     ...    ...
2022 6     2.142366e+07  60788.460156  2022.0    6.0
     7     1.437271e+07  59547.619048  2022.0    7.0
     8     1.144006e+07  60272.727273  2022.0    8.0
     9     1.443077e+07  55595.000000  2022.0    9.0
     10    1.675534e+07  56511.764706  2022.0   10.0

[70 rows x 8 columns]

In [23]:
#연도별 집계
sdf.resample(rule='A').mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-12-31,46790.207469,45965.311203,46363.485477,46377.178423,1.144929e+07,39999.624335,2017.0,6.423237
2018-12-31,47351.270492,46341.762295,46867.786885,46830.122951,1.255331e+07,41362.077244,2018.0,6.483607
2019-12-31,46989.024390,46122.154472,46563.414634,46583.333333,1.089653e+07,42527.481342,2019.0,6.520325
2020-12-31,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,53676.526084,2020.0,6.516129
2021-12-31,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,77382.664220,2021.0,6.556452
2022-12-31,65274.874372,64293.467337,64797.989950,64734.170854,1.418924e+07,64380.480979,2022.0,5.502513

In [25]:
#주간별 집계
sdf.resample(rule='W').mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-01-08,36376.0,35916.0,36200.0,36100.0,7965680.00,30976.959375,2017.0,1.00
2017-01-15,38116.0,37300.0,37500.0,37800.0,12387290.00,32435.708203,2017.0,1.00
2017-01-22,37624.0,36684.0,37064.0,37048.0,10448300.00,31790.427734,2017.0,1.00
2017-01-29,39010.0,38155.0,38270.0,38880.0,12126875.00,33362.440430,2017.0,1.00
2017-02-05,39680.0,39220.0,39610.0,39350.0,14389562.50,33765.749023,2017.0,1.75
...,...,...,...,...,...,...,...,...
2022-10-02,54020.0,52800.0,53400.0,53340.0,17603239.20,53340.000000,2022.0,9.00
2022-10-09,56700.0,55350.0,56200.0,55925.0,18359666.00,55925.000000,2022.0,10.00
2022-10-16,56325.0,55050.0,55425.0,55675.0,16638928.75,55675.000000,2022.0,10.00
2022-10-23,56660.0,55480.0,55900.0,56060.0,13937389.00,56060.000000,2022.0,10.00
2022-10-30,58950.0,57575.0,57925.0,58500.0,18789845.25,58500.000000,2022.0,10.00

In [26]:
#분기별 집계
sdf.resample(rule='Q').mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-03-31,39461.290323,38764.516129,38999.032258,39141.935484,1.164004e+07,33591.077558,2017.0,2.032258
2017-06-30,45070.666667,44335.000000,44668.333333,44711.666667,1.212670e+07,38499.552018,2017.0,5.016667
2017-09-30,49144.444444,48332.380952,48771.428571,48768.571429,1.100376e+07,42115.819382,2017.0,7.984127
2017-12-31,54098.214286,53021.428571,53624.285714,53481.785714,1.101350e+07,46321.302037,2017.0,11.035714
2018-03-31,49731.475410,48516.721311,49162.950820,49073.114754,1.523360e+07,42882.858927,2018.0,1.983607
2018-06-30,50477.333333,49385.333333,50009.166667,49909.000000,1.393414e+07,43932.284766,2018.0,4.966667
2018-09-30,46469.672131,45650.000000,46051.639344,46078.688525,9.944799e+06,40863.127818,2018.0,7.918033
2018-12-31,42851.612903,41937.096774,42372.580645,42383.064516,1.114639e+07,37869.428553,2018.0,10.967742
2019-03-31,44361.016949,43431.355932,43903.389831,43960.169492,1.220284e+07,39644.474179,2019.0,1.966102
2019-06-30,45063.709677,44208.064516,44647.580645,44666.129032,1.089301e+07,40597.712072,2019.0,4.951613
2019-09-30,46104.761905,45338.095238,45719.841270,45749.206349,9.476117e+06,41905.976997,2019.0,7.936508
2019-12-31,52313.709677,51393.548387,51867.741935,51844.354839,1.110025e+07,47832.286038,2019.0,10.983871
2020-03-31,56688.709677,55091.129032,55864.516129,55891.935484,2.351983e+07,51897.174080,2020.0,2.032258
2020-06-30,51054.098361,49862.295082,50488.524590,50483.606557,2.157059e+07,47222.655353,2020.0,5.032787
2020-09-30,57257.812500,56121.875000,56754.687500,56562.500000,1.977054e+07,53261.007690,2020.0,7.968750
2020-12-31,66359.016393,64960.655738,65511.475410,65783.606557,2.219652e+07,62374.872246,2020.0,11.032787
2021-03-31,85070.000000,83040.000000,83928.333333,83886.666667,2.643395e+07,81472.020964,2021.0,2.033333
2021-06-30,82338.095238,81344.444444,81904.761905,81795.238095,1.679760e+07,79793.365699,2021.0,5.000000
2021-09-30,78325.806452,77237.096774,77862.903226,77709.677419,1.704810e+07,76143.977697,2021.0,7.951613
2021-12-31,74136.507937,72841.269841,73534.920635,73433.333333,1.519392e+07,72296.362103,2021.0,11.047619
2022-03-31,73886.206897,73020.689655,73587.931034,73403.448276,1.138053e+07,72594.454607,2022.0,2.034483
2022-06-30,65729.508197,64773.770492,65263.934426,65173.770492,1.699384e+07,64789.136847,2022.0,4.983607
2022-09-30,59104.761905,58074.603175,58538.095238,58546.031746,1.336704e+07,58546.031746,2022.0,7.984127
2022-12-31,57129.411765,55841.176471,56335.294118,56511.764706,1.675534e+07,56511.764706,2022.0,10.000000